.tform{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border: solid 1px var(--borde);
    backdrop-filter: blur(5px);
    height: auto;
    width: 50%;
    gap: 1rem;
    background-color: var(--fondo);
    border-radius: 1rem;
}
.form input{
    padding: .5rem;
    border: none;
    border-bottom: solid 2px var(--borde);
    background-color: transparent;
}
.form h2{
    width: 100%;
    text-align: center;
}
.form button{
    padding: 1rem;
    width: 100%;
    border: none;
    font-size: 20px;
    color: whitesmoke;
    border: solid 1px var(--borde);
    background-color: transparent;
}