:root {
  height: 100vh;
    scroll-behavior: smooth;
    --borde: #999;
    --letra: #00001a;
    --letraimg: whitesmoke;
    --fondo: whitesmoke;
    --pisoh3: rgba(255,255,255,0.2);
    background-color: var(--fondo);
  overflow: hidden;

}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h3{
  font-weight: 500;
}
p{
  color: #ccc;
  font-weight: 200;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
/* PC */
.total{
  background-color: var(--fondo);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  padding: 4rem 1rem 1rem 1rem;
  /*background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(64,5,67,0.2) 36%, rgba(54,4,62,0.3) 60%, rgba(2,0,36,1) 100%); 
  */
}
/* CEL */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
@media (max-width: 700px) {
  .total{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}