.ndinamica{
    border: solid 1px var(--borde);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
}
.ndinamica p{
    color: var(--letra);
    padding: 1rem;
    font-weight: 300;   
}
.ndinamica h4{
    width: 100%;
    padding-left: 1rem;
}
.ndinamica h1{
    color: var(-letra);
    padding: 1rem;
    width: 100%;
    text-align: center;
    background-color: var(--letra);
}
.foto{
    border: solid 1px var(--borde);
    width: 100%;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.foto img{
    height: 100%;
    width: 100%;
    object-fit:scale-down;
    object-position: center;
}
.tags{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1rem;
    gap: .4rem;
}
.tags p{
    padding: .5rem;
    color: var(--letrafoto);
    background-color: var(--letra);
    border-radius: 1rem;
}
