.total{
    z-index: 99;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 3.5rem;
    border-bottom: 1px solid var(--borde);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 2rem;
    backdrop-filter: blur(2px);
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95%;
    width: 5rem;
}
.logo h2{
    font-weight: 900;
    font-size: 25px;
    border: none;
}
.links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    z-index: 10;
}
.links a{
    color: var(--letra);
    background: var(--fondo);
    padding: .5rem;
    text-decoration: none;
    border-radius: 10px;
}
.sidebar{
    position: absolute;
    top:0;
    right: 0;
    height: 100vh;
    width: 0%;
    background-color: var(--card);
    backdrop-filter: blur(5px);
    transition: all .5s ease;
    overflow: hidden;
    display: none;
}
.sidebar a{
    text-decoration: none;
    color: var(--letra);
    background-color: var(--fondo);
    padding: 1rem;
    width: 90%;
    border-radius: 1rem;
    text-align: center;
}
.sidebar h3{
    width: 90%;
    border-bottom: solid 2px var(--pisoh3);
    text-align: center;
    padding: 1rem;
}
.total button{
    height: 100%;
    padding: 0 1rem;
    z-index: 99;
    font-size: 25px;
    background-color: transparent;
    border: none;
    display: none;
    color: var(--letra);
}
@media (width <= 750px) {
    .sidebar{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
    }
    .total button{
        display: block;
    }
    .links{
        display: none;
    }
}
