.principal{
    height: 100%;
    width: 100%;
    border: solid 1px var(--borde);
    padding: 1rem;
    background-color: var(--card);
}
.top{
    width: 100%;
    height: 70%;
    border: solid 1px var(--borde);
}
.top a{
    text-decoration: none;
    color: var(--letraimg);
}
.noticiatop{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}
.noticiatop h1{
    z-index: 3;
    padding: 1rem;
    width: 100%;
    background-color: rgba(0,12,18,0.7);
    text-align: center;
}
.topimg{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease;
}
.topimg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.topimg:hover{
    transform: scale(1.2);
}
.destacados{
    padding: .3rem;
    height: 30%;
    width: 100%;
    border: solid 1px var(--borde);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.noticiadestacada{
    position: relative;
    height: 100%;
    width: 15rem;
    border: solid 1px var(--borde);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;   
}
.noticiadestacada a{
    height: 100%;
    width: 100%;
    color: var(--letraimg);
    text-decoration: none;
}
.noticiadestacada h2{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding: .5rem;
    overflow: hidden;
    height: 40px;
    width: calc(100% - 1px);
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: rgba(0,12,18,0.7);
}
.destacadaimg{
    min-height: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all .2s ease;
}
.destacadaimg:hover{
    transform: scale(1.1);
}
.destacadaimg img{position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.anuncio{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    border: solid 1px var(--borde);
}
.anuncio p{
    color: var(--letra)
}

@media (max-width: 700px) {
    .card1,.card2{ 
        width: 95%;
        min-height: 50%;
    }
    .card1 h1{
        font-size: 80px;
    }
  }